.post-page {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 100px 0 200px 0;
    text-align: center;
}

.edit-mode {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.edit-mode input{
    width: 100%;
}

.edit-mode input, textarea{
    width: 100%;
    margin: 10px 0;

}

.post-page button {
    padding: 2px 50px;
    margin: 10px 5px;
    cursor: pointer;
}