body {
    font-family: "Comme", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 159, 175);
}

body a {
    color: rgb(255, 159, 175);
}

h1 {
    text-align: center;
    font-weight: 500;
}